---
layout: page
title: EZLandBuyer
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">WE BUY LAND AS-IS
            <p class="animated fadeInUp">Sell Us Your Land Stress-Free, At NO-COST to You, We've Got You Covered!"</p>
            <h3 class="animated fadeInUp">Call us: (844) 278-1868</h3>
            <h3 class="animated fadeInUp"><a href="mailto:offers@ezlandbuyer.com">Email Us</a>
            </h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="block">
        <p>Fill out the form below, call us at (844) 278-1868 or <a href="mailto:offers@ezlandbuyer.com">Email Us</a> to
          get a CASH OFFER today!</p>
        <div id="lead_form"></div>
        <script src="https://cdn.reiconversion.com/embed/v1.js" type="text/javascript" charset="utf-8"></script>
        <script>
          (function (Rei) {
            var rei = Rei();
            var form = rei.sellerLeadForm({
              form_id: '7pv83',
              appearance: { layout: 'vertical', skin: 'bold' }
            });
            form.mount(document.getElementById('lead_form'));
          })(window.Rei);
        </script>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 ">
        <div class="block">
          <div class="section-title">
            <h1>About Us</h1>

            <p>Welcome to ezlandbuyer.com, a small family-owned business. We understand the challenges of owning
              unwanted properties and the burden they can place on individuals and families. That's why we're here to
              provide a helping hand to those who find themselves trapped with properties they no longer want to own.
            </p>

            <p>With our personal experience and dedication to service, we strive to make the process of selling your
              land as simple and stress-free as possible. Whether you're looking to free up funds, reduce taxes, or
              simply move on to the next chapter of your life, we're here to assist you every step of the way.</p>

            <p>At ezlandbuyer.com, we believe in treating every client like family and providing personalized solutions
              to meet their unique needs. Say goodbye to the stress and frustration of owning unwanted land and hello to
              a brighter future with ezlandbuyer.com by your side.</p>

            <p>Contact us today to learn more about how we can help you.</p>

          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12 ">
        <div class="block">
          <img src="img/ezlandbuyer_yellow500px.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>



<!--
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>
-->
<!-- Service Start -->
<!--
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Call to action Start -->
<!--
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <p>Fill out the form below, call us at (844) 278-1868 or <a href="mailto:offers@ezlandbuyer.com">Email Us</a>
            to get a CASH OFFER within 24-48 hours.</p>
          <div id="lead_form"></div>
          <script src="https://cdn.reiconversion.com/embed/v1.js" type="text/javascript" charset="utf-8"></script>
          <script>
            (function (Rei) {
              var rei = Rei();
              var form = rei.sellerLeadForm({
                form_id: '7pv83',
                appearance: { layout: 'vertical', skin: 'bold' }
              });
              form.mount(document.getElementById('lead_form'));
            })(window.Rei);
          </script>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
