<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <h3>Call us: (844) 278-1868</h3>
          <h3><a href="mailto:offers@ezlandbuyer.com">Email Us</a></h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/faq"">FAQ</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Odyssey Realty, LLC. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
